* {
  margin: 0;
  padding: 0;
}

.dash-icon {
  height: 50px;
  width: 50px;
}

.profile-pic {
  height: 80px;
  width: 80px;
  background-color: #C8A2C8;
  border-radius: 50%;
}

.header-icon,
.sidebar-icon,
.pro-pic {
  height: 20px;
  width: 20px;
}

.card-icon {
  height: 15px;
  width: 15px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main {
  background-color: green;
}

.header {
  background-color: yellow;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 50px;
  padding-right: 50px;
}

.search {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  gap: 30px;
}

.rhs-top {
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.greeting {
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto auto;
  align-items: center;
}

.greeting .profile-pic {
  grid-row: 1 / 3;
}

.greeting p {
  grid-column: 2;
}

.menu {
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu ul {
  display: flex;
  gap: 30px;
}


.sidebar {
  background-color: blue;
  grid-row: 1 / 3;
  padding-left: 20px;
  display: grid;
  grid-template-rows: 100px 300px 175px;
  row-gap: 25px;
}

.dashboard {
  background-color: grey;
  display: flex;
  margin-top: 20px;
  gap: 15px;
  align-items: center;
}

ul {
  list-style-type: none;
}

.menu-top {
 background-color: white;
 display: flex;
 align-items: center;
 
}

.menu-bottom {
  background-color: peru;
  display: flex;
  align-items: center;
}

.menu-top li,
.menu-bottom li {
  display: flex;
  gap: 25px; /*Horizontal space between icon and text */
  align-items: center;
}

.menu-top ul,
.menu-bottom ul {
  display: flex;
  flex-direction: column;
  gap: 20px; /*Spaces items out vertically */
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.schedules {
  grid-column: 1;
  grid-row: 1 / 3;
}

.announcements {
  background-color: pink;
}

.box1 {
  background-color: antiquewhite;
}